{% extends 'base.html.twig' %}

{% block title %}Création d'un compte{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center py-4">
        <div>
            <h1 class="h3 mt-4 mb-4 font-weight-normal">Création de votre compte !</h1>
            <div>
                {{ form_errors(registrationForm)|raw }}
                {{ form_start(registrationForm) }}
            </div>
            <div class="mb-2">{{ form_row(registrationForm.name, {
                    label: 'Nom', attr: { class: 'form-control w-100', autofocus: true } }) }}</div>
            <div class="mb-2">{{ form_row(registrationForm.firstname, {
                    label: 'Prénom', attr: { class: 'form-control w-100' } }) }}</div>
            <div class="mb-2">{{ form_row(registrationForm.email, {
                    attr: { class: 'form-control w-100' } }) }}</div>
            <div class="mb-2">{{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe', attr: { class: 'form-control w-100' } }) }}</div>
            <div class="mb-2">{{ form_row(registrationForm.agreeTerms, {
                    label: 'Accord sur les termes', label_attr: { class: 'me-2' } }) }}</div>

            <button class="btn btn-primary w-100 py-2" type="submit">Créer son compte</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
