<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative d-flex justify-content-center align-items-center text-center">
    {% if view %}
        <h1 class="mt-3 mb-auto fw-bold">{{ event.title }}</h1>
    {% else %}
        <h3 class="mt-3 mb-auto fw-bold">{{ event.title }}</h3>
    {% endif %}
    <div class="mb-2 text-secondary">{{ event.category.name }}</div>
    <div class="mb-2 text-dark">{{ event.start|format_datetime(locale='fr_FR', pattern='EEEE dd MMMM - HH:mm')|capitalize }} </div>
    <div class="mb-2 text-dark">{{ event.place.name }}</div>
    <div class="mb-3 text-dark">
        {% if view %}Organisateur : {% else %}Org. :{% endif %}
        {{ event.organizer.firstname }} {{ event.organizer.name }}
    </div>
    {% if event.image %}
        <img class="bd-placeholder-img mb-3 obj-fit-cover" alt="{{ event.title }}" src="{{ asset('uploads/events_images/' ~ event.image) }}">
    {% endif %}
    <p class="fw-bold mb-auto">Description complète</p>
    <p class="mb-3 px-2 text-dark">{{ event.description }}</p>
    <div class="mb-3 fw-bold">Nombre d'inscrits : {{ event.nbRegs }}</div>
    {% if view %}
        <div class="mb-3">{%  include 'partials/_event_list_register.html.twig' %}</div>
    {% endif %}
</div>

