<table class="table table-striped mb-0">
    <thead class="table-dark">
    <tr>
        <th>Date</th>
        <th>Sortie</th>
        <th>Lieu</th>
        <th>Catégorie</th>
        <th class="text-end"></th>
    </tr>
    </thead>
    <tbody>
    {% set dateEvent = '' %}
    {% for event in events %}
        {% if event.start|date('d/m/Y') != dateEvent %}
            <tr>
                <td colspan="4"><strong>{{ event.start|date('l d F') }}</strong></td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ event.start|date('H:i') }}</td>
            {% if app.user %}
                <td><a href="/profile/detail_event/{{event.id}}">{{ event.title }}</a></td>
            {% else %}
                <td>{{ event.title }}</td>
            {% endif %}
            <td>{{ event.place.name }}</td>
            <td>{{ event.category.name }}</td>
            {% if app.user %}
                <td class="row text-end">
                    <div class="d-flex justify-content-end gap-2">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-md-auto">
                                <a href="/admin/add_edit_event/{{ event.id }}" class="btn btn-sm btn-primary txt_desktop">Modifier</a>
                            </div>
                            <div class="col-md-auto">
                                <a  href="/admin/delete_event/{{ event.id }}" class="btn btn-sm btn-danger txt_desktop delete_event">Supprimer</a>
                            </div>
                        {% endif %}
                        <div class="col-md-auto">
                            <a href="/index.php?controller=category&action=update&id={$category->getId()}" class="btn btn-sm btn-success">S'inscrire</a>
                        </div>
                        <div class="col-md-auto">
                            <a href="/index.php?controller=category&action=update&id={$category->getId()}" class="btn btn-sm btn-warning">Se désinscrire</a>
                        </div>
                    </div>
                </td>
            {% endif %}
        </tr>
        {% set dateEvent = event.start|date('d/m/Y') %}
    {% endfor %}
    </tbody>
</table>
