<table class="table mb-0 custom-table">
    <thead class="table-dark">
        <tr>
            <th class="mw-10">Date</th>
            <th class="mw-18">Sortie</th>
            <th class="mw-18">Lieu</th>
            <th class="w-25">Catégorie</th>
            {% if app.user %}<th></th>{% endif %}
        </tr>
    </thead>
    <tbody>
    {% set dateEvent = '' %}
    {% for event in events %}
        {% if event.start|date('d/m/Y') != dateEvent %}
            <tr>
                <td colspan="5" class="bg-info brown"><strong>{{ event.start|format_datetime(locale='fr_FR', pattern='EEEE dd MMMM')|capitalize }}</strong></td>
            </tr>
        {% endif %}
        <tr>
            <td class="bg-light">{{ event.start|date('H:i') }}</td>
            {% if app.user %}
                <td class="bg-light"><a href="{{ path('App\\Controller\\EventController::detail_id', {'id':event.id}) }}">{{ event.title }}</a></td>
            {% else %}
                <td class="bg-light">{{ event.title }}</td>
            {% endif %}
            <td class="bg-light">{{ event.place.name }}</td>
            <td class="bg-light">{{ event.category.name }}</td>
            {% if app.user %}
                <td class="text-end btn_w3 bg-light">
                <div class="d-flex justify-content-end gap-2">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="col-md-auto">
                            <a href="{{ path('App\\Controller\\EventController::add_edit_event', {'id':event.id}) }}"  class="btn btn-sm btn-primary btn_w txt_desktop">Modifier</a>
                        </div>
                        <div class="col-md-auto">
                            <a href="{{ path('App\\Controller\\EventController::delete', {'id':event.id}) }}" class="btn btn-sm btn-danger btn_w txt_desktop delete_event">Supprimer</a>
                        </div>
                    {% endif %}
                    {%  include 'partials/_event_list_register.html.twig' %}
                </div>
                {% endif %}
            </td>
        </tr>
        {% set dateEvent = event.start|date('d/m/Y') %}
    {% endfor %}
    </tbody>
</table>
