<table class="table table-striped">
    <thead class="table-dark">
    <tr>
        <th>Date</th>
        <th>Sortie</th>
        <th>Lieu</th>
        <th>Catégorie</th>
        <th class="text-end"></th>
    </tr>
    </thead>
    <tbody>
    {% set dateEvent = '' %}
    {% for event in events %}
        {% if event.start|date('d/m/Y') != dateEvent %}
            <tr>
                <td colspan="4"><strong>{{ event.start|date('l d F') }}</strong></td>
            </tr>
        {% endif %}
        <tr>
            <td>{{ event.start|date('H:i') }}</td>
            <td><a href="{{ path('App\\Controller\\EventController::detail_id', { 'id': event.id }) }}">{{ event.title }}</a></td>
            <td>{{ event.place.name }}</td>
            <td>{{ event.category.name }}</td>
            <td class="row text-end">
                <div class="d-flex justify-content-end gap-2">
                    <div class="col-md-auto">
                        <a href="/add_edit_event/{{ event.id }}" class="btn btn-sm btn-primary txt_desktop">Modifier</a>
                    </div>
                    <div class="col-md-auto">
                        <a href="/index.php?controller=category&action=update&id={$category->getId()}" class="btn btn-sm btn-danger txt_desktop">Supprimer</a>
                    </div>
                    <div class="col-md-auto">
                        <a href="/index.php?controller=category&action=update&id={$category->getId()}" class="btn btn-sm btn-success">S'inscrire</a>
                    </div>
                    <div class="col-md-auto">
                        <a href="/index.php?controller=category&action=update&id={$category->getId()}" class="btn btn-sm btn-warning">Se désinscrire</a>
                    </div>
                </div>
            </td>
        </tr>
        {% set dateEvent = event.start|date('d/m/Y') %}
    {% endfor %}
    </tbody>
</table>
