{% extends "base.html.twig" %}

{%  block title %}
    Gestion des rôles
{% endblock %}

{%  block body %}
    <div class="d-flex flex-wrap justify-content-center fs-4">
        {% for user in users %}
            <div class="d-flex flex-column align-items-center border rounded p-3 m-2">
                <div class="mb-2 fw-bold text-center">{{ user.name }} {{ user.firstname }}</div>
                <div><a href="{{ path('App\\Controller\\UserController::change_role', {'id':user.id}) }}" class="btn btn-sm btn-success btn_w confirm_admin">Passer admin</a></div>
            </div>
        {% endfor %}
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{%  endblock %}
